{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Possíveis Soluções</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>

    <canvas id="myChart" width="400" height="150"></canvas>

    <br/>
    <div class="row">
        <div class="col-md-5">
            <div class="alert alert-danger alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                Pontos críticos: <span id="high-danger"></span>
            </div>
        </div>
    </div>
{% endblock content %}

{% block javascript %}
    <script type="text/javascript" src="{% static 'vendor/flot/jquery.flot.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendor/flot/jquery.flot.pie.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendor/flot/jquery.flot.resize.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendor/flot/jquery.flot.time.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendor/flot-tooltip/jquery.flot.tooltip.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/Chart.js' %}"></script>
    <script type="text/javascript">
    </script>
    <script>
        var ctx = document.getElementById("myChart").getContext('2d');
        var estados = {
            "UF": [
                {"nome": "Acre", "sigla": "AC"},
                {"nome": "Alagoas", "sigla": "AL"},
                {"nome": "Amapá", "sigla": "AP"},
                {"nome": "Amazonas", "sigla": "AM"},
                {"nome": "Bahia", "sigla": "BA"},
                {"nome": "Ceará", "sigla": "CE"},
                {"nome": "Distrito Federal", "sigla": "DF"},
                {"nome": "Espírito Santo", "sigla": "ES"},
                {"nome": "Goiás", "sigla": "GO"},
                {"nome": "Maranhão", "sigla": "MA"},
                {"nome": "Mato Grosso", "sigla": "MT"},
                {"nome": "Mato Grosso do Sul", "sigla": "MS"},
                {"nome": "Minas Gerais", "sigla": "MG"},
                {"nome": "Pará", "sigla": "PA"},
                {"nome": "Paraíba", "sigla": "PB"},
                {"nome": "Paraná", "sigla": "PR"},
                {"nome": "Pernambuco", "sigla": "PE"},
                {"nome": "Piauí", "sigla": "PI"},
                {"nome": "Rio de Janeiro", "sigla": "RJ"},
                {"nome": "Rio Grande do Norte", "sigla": "RN"},
                {"nome": "Rio Grande do Sul", "sigla": "RS"},
                {"nome": "Rondônia", "sigla": "RO"},
                {"nome": "Roraima", "sigla": "RR"},
                {"nome": "Santa Catarina", "sigla": "SC"},
                {"nome": "São Paulo", "sigla": "SP"},
                {"nome": "Sergipe", "sigla": "SE"},
                {"nome": "Tocantins", "sigla": "TO"}

            ]
        };
    var data = [0,1,8,2,5,0,1,24,1,0,10,5,3,8,6,9,10,11,12,24,16,0,0,5,18,0,1];

    var vetSiglas = [];
    for (var i = 0; i < estados.UF.length; i++)
    	vetSiglas.push(estados.UF[i].sigla);

    /*$(document).ready(function(){
        $.ajax({
            type: 'GET',
            dataType: 'json',
            url: '/all-locations',
            success: function(response) {
                var dados = response.data;
                var vet = [];
                for (var i = 0; i < dados.length; i++) { 
                    var doc = JSON.parse(dados[i]);
                    vet.push(doc);
                }

           }
        });
    });*/

    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: vetSiglas,
            datasets: [{
                label: '# Problemas',
                data: data,
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)',
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(255, 159, 64, 0.2)',
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(255, 159, 64, 0.2)',
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(255, 159, 64, 0.2)',
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
    				'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)',
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(255, 159, 64, 0.2)',
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(255, 159, 64, 0.2)',
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(255, 159, 64, 0.2)',
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderWidth: 3
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero:true
                    }
                }]
            }
        }
    });

    function max(arr) {
        var max = -Infinity;
        var maxIndices = [];
        for (var i = 0; i < arr.length; i++) {
            if (arr[i] === max) {
              maxIndices.push(i);
            } else if (arr[i] > max) {
                maxIndices = [i];
                max = arr[i];
            }
        }
        return maxIndices;
    }
    var maxData = max(data);
    var $txt = $("#high-danger");
    console.log($txt);
    for (var i = 0; i < maxData.length; i++) {
        for (var j = 0; j < estados.UF.length; j++) {
            if (vetSiglas[maxData[i]] == estados.UF[j].sigla)
                $txt.html($txt.html() + '</br><b>' + estados.UF[j].nome + '</b>');           
        }
    }

</script>
{% endblock %}