{% extends 'base.html' %}

{% block content %}
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Cadastrar Empresa</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Dados Empresariais
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <form role="form">
                                <div class="form-group">
                                    <label>Razão Social</label>
                                    <input class="form-control">
                                    <!--<p class="help-block">Example block-level help text here.</p>-->
                                </div>
                                <div class="form-group">
                                    <label>Nome Fantasia</label>
                                    <input class="form-control"><!-- placeholder="Enter text"-->
                                </div>
                                <div class="form-group">
                                    <label>CNPJ</label>
                                    <input class="form-control">
                                    <p class="help-block">XX.XXX.XXX/0001-XX</p>
                                </div>
                                <div class="form-group">
                                    <label>Email</label>
                                    <input class="form-control">
                                    <p class="help-block">email@example.com</p>
                                </div>
                                <div class="form-group">
                                    <label>Passsword</label>
                                    <input class="form-control">    
                                </div>

                                <button type="submit" class="btn btn-default">Submit Button</button>
                                <button type="reset" class="btn btn-default">Reset Button</button>
                            </form>
                        </div>
                        <div class="col-lg-6">
                            <h1>Disabled Form States</h1>
                            <div class="form-group">
                                    <label>Processo Interno - Despachar a Mercadoria</label>
                                    <p class="form-control-static">Informar a média de tempo(horas) gasto pela empresa para despachar a encomenda assim que o pagamento for confirmado.</p>
                                    <select class="form-control">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                        <option>6</option>
                                        <option>7</option>
                                        <option>8</option>
                                        <option>9</option>
                                        <option>10</option>
                                        <option>11</option>
                                        <option>12</option>
                                        <option>13</option>
                                        <option>14</option>
                                        <option>15</option>
                                        <option>16</option>
                                        <option>17</option>
                                        <option>18</option>
                                        <option>19</option>
                                        <option>20</option>
                                        <option>21</option>
                                        <option>22</option>
                                        <option>23</option>
                                        <option>24</option>
                                    </select>
                            </div>
                            <div class="form-group">
                                    <label>Processo Externo - Transporte de Mercadoria</label>
                                    <p class="form-control-static">Informar a média de tempo(dias) gasto pela empresa para realizar o transporte e entrega da encomenda ao cliente.</p>
                                    <select class="form-control">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                        <option>6</option>
                                        <option>7</option>
                                        <option>8</option>
                                        <option>9</option>
                                        <option>10</option>
                                        <option>11</option>
                                        <option>12</option>
                                        <option>13</option>
                                        <option>14</option>
                                        <option>15</option>
                                        <option>16</option>
                                        <option>17</option>
                                        <option>18</option>
                                        <option>19</option>
                                        <option>20</option>
                                        <option>21</option>
                                        <option>22</option>
                                        <option>23</option>
                                        <option>24</option>
                                        <option>25</option>
                                        <option>26</option>
                                        <option>27</option>
                                        <option>28</option>
                                        <option>29</option>
                                        <option>30</option>
                                        <option>31</option>
                                    </select>
                            </div>
                            <div class="form-group">
                                    <label>Transportador(a)</label>
                                    <p class="form-control-static">Informar caso a empresa use um serviço terceirizado.</p>
                                    <input class="form-control">
                                </div>
                            <!--<form role="form">
                                <fieldset disabled>
                                    <div class="form-group">
                                        <label for="disabledSelect">Disabled input</label>
                                        <input class="form-control" id="disabledInput" type="text" placeholder="Disabled input" disabled>
                                    </div>
                                    <div class="form-group">
                                        <label for="disabledSelect">Disabled select menu</label>
                                        <select id="disabledSelect" class="form-control">
                                            <option>Disabled select</option>
                                        </select>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox">Disabled Checkbox
                                        </label>
                                    </div>
                                    <button type="submit" class="btn btn-primary">Disabled Button</button>
                                </fieldset>
                            </form>
                            <!--
                            <h1>Form Validation States</h1>
                            <form role="form">
                                <div class="form-group has-success">
                                    <label class="control-label" for="inputSuccess">Input with success</label>
                                    <input type="text" class="form-control" id="inputSuccess">
                                </div>
                                <div class="form-group has-warning">
                                    <label class="control-label" for="inputWarning">Input with warning</label>
                                    <input type="text" class="form-control" id="inputWarning">
                                </div>
                                <div class="form-group has-error">
                                    <label class="control-label" for="inputError">Input with error</label>
                                    <input type="text" class="form-control" id="inputError">
                                </div>
                            </form>
                            <h1>Input Groups</h1>
                            <form role="form">
                                <div class="form-group input-group">
                                    <span class="input-group-addon">@</span>
                                    <input type="text" class="form-control" placeholder="Username">
                                </div>
                                <div class="form-group input-group">
                                    <input type="text" class="form-control">
                                    <span class="input-group-addon">.00</span>
                                </div>
                                <div class="form-group input-group">
                                    <span class="input-group-addon"><i class="fa fa-eur"></i>
                                    </span>
                                    <input type="text" class="form-control" placeholder="Font Awesome Icon">
                                </div>
                                <div class="form-group input-group">
                                    <span class="input-group-addon">$</span>
                                    <input type="text" class="form-control">
                                    <span class="input-group-addon">.00</span>
                                </div>
                                <div class="form-group input-group">
                                    <input type="text" class="form-control">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="button"><i class="fa fa-search"></i>
                                        </button>
                                    </span>
                                </div>
                            </form>-->
                        </div>
                        <!-- /.col-lg-6 (nested) -->
                    </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
</div>
<!-- /#page-wrapper -->
{% endblock content %}