{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Cadastrar Empresa</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Dados Empresariais
                </div>
                <div class="panel-body">
                    <div class="row">
                        <form method='POST' align="center" class="post-form">
                            {% csrf_token %}
                            {{ form|crispy }}
                            <button aling="center" type="submit" class="save btn btn-block btn-success">Salvar</button>
                        </form>
                        
                        <!-- /.col-lg-6 (nested) -->
                    </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
</div>
<!-- /#page-wrapper -->
{% endblock content %}