{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">   
            <h1 class="page-header">Cadastrar Empresa</h1>
            <div class="row">
                <form method='POST' align="center" class="post-form">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button aling="center" type="submit" class="save btn btn-block btn-success">Salvar</button>
                </form>
                
                <!-- /.col-lg-6 (nested) -->
            </div>
            <!-- /.row (nested) -->
        </div>
        <!-- /.col-lg-6 -->
        <div class="col-lg-3"></div>
    </div>
    <!-- /.row -->
</div>
<!-- /#page-wrapper -->
{% endblock content %}